In [3]:

import pandas as pd

In [2]:

import pickle

In [8]:
df = pd.read_csv("/content/Mall_Customers.csv")

In [9]:
gender= {'Male':0, 'Female':1}
df['Gender']= df['Gender'].map(gender)

In [10]:
location={'urban':1,'rural':0}
df['Location']= df['Location'].map(location)
print(df.head)

<bound method NDFrame.head of      Gender  Age  Annual Income (k$)  Location     genre
0         0   19                  15         1    action
1         0   21                  15         1    action
2         1   20                  16         0    action
3         1   23                  16         1    action
4         1   31                  17         0  thriller
..      ...  ...                 ...       ...       ...
196       1   45                 126         1   romance
197       0   32                 126         0  thriller
198       0   32                 137         0  thriller
199       0   30                 137         0  thriller
200       1   20                  50         1    action

[201 rows x 5 columns]>

In [11]:
filename = 'net.pkl'
outfile = open(filename,'wb')
pickle.dump(df,outfile)
outfile.close()

In [12]:
pickle.dump('movie_list.csv',open('movie_list.pkl','wb'))